<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Rebondissant</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body> 
    <div id="container">
        <img id="logo" src="{{ url_for('static', filename='gemini-logo.png') }}" alt="Logo">
        
        <div id="text">Gemini By <img src="{{ url_for('static', filename='google-logo.svg') }}" alt="Google"></div>
    </div>
    <script src="{{ url_for('static', filename='screensaver.js') }}"></script>
</body>
</html>
